# OS X
.DS_Store

# bundler
.bundle/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
xcshareddata
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcscmblueprint

# Carthage
Carthage/Checkouts
Carthage/Build/Mac/*

# SPM
.build/
.swiftpm/
SimpleApp/XcodeBuild/
XcodeBuild/Intermediates.noindex/
XcodeBuild/
buildscript/derived_data/*
buildscript/build/*

## User settings
xcuserdata/
UserInterfaceState.xcuserstate